#one {
    position: absolute;
    left: 100px;
    top: 150px;
  }  

  body {
    background: #afb42b;
    height:auto;
    overflow-x:hidden;
    margin-bottom: 150px
  }

  #splashscreen {
    background-image: url(../front/beer.png);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    background-size: 300px 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(13, 142, 228);
    min-width: 100vw;
    min-height: 100vh;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
  }
  p {
    font-family: 'Shrikhand', cursive;
    position: absolute;
    top: 50%;
    left: 50%;   
  }
  #homebtn, #date, #newbet, #history, .navbutton {
    padding: 10px;
    background: linear-gradient( rgb(63, 62, 62),rgb(100, 99, 99),rgb(63, 62, 62));
    border: 1px double rgb(100, 99, 99);
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.534), 0 8px 35px 0 rgba(0, 0, 0, 0.486);
    /* position: absolute; */
    border-radius: 5px;
    text-align: center;
    align-content: center;
    color: aqua;
    width: 100px;
    height: 100px;
    vertical-align: bottom;
    /* top: 20%;
    left: 20%; */
    font-size: 14px;
    border-radius: 20%;
  }
  #newbet, #history{
    margin-top: 20px;
  }

  #minactivebets, #muser{
    margin-top: 20px;
  }  

  #homebtn, #date{
    margin-top: 60%;
  }

  #mnewbet, #mactivebets{
    margin-top: 60%;
  }


  #date, #newbet{
    float: right;
  }

  #mnewbet, #minactivebets{
    float: right;
  }



  .btn i{
    padding-top: 10px;
    font-size: 3.0rem;
  }

  .material-icons{
    margin-top: 0.5px;
    margin-right: 4px;
    font-size: 10px;
  }

  

  #title {
    margin-top: 10%;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
  }

  .preloader-wrapper{
    margin-right:auto;
    margin-left:auto;
  }

  h5.modal_header {
    text-align: center;
    color: #26a69a;
    font-weight: bold;
    text-shadow: 1px 1px black;
  }

  #login_form {
    margin-top: 10px;
  }

  /* Styling for the user-registration validation fields */
  h6.nickname_validation, h6.email_validation, h6.unique_email {
    color: red;
    font-size: 10px;
    margin-left: 9%;
    margin-top: -10px;
  }

  ul:not(.browser-default) {
    padding-left: 41%;
  }

  footer {
    Position: fixed;
    Bottom: 0;
    Left: 0;
    Right: 0;
    z-index: 3;
    text-align: center;
    background-color: rgb(63, 62, 62);
    color: aqua;
 
  }
  a {
    font-size: 14px;
    text-align: center;
    padding: 10px;
  }

  .betsummary {
    line-height: 30px;
  }

